.main {
  width: 100%;
  min-height: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


  &--next {
    margin-bottom: 120px;
    padding: 0;
    background: $primaryColour;
    border-radius: 10px;
    color: $secondaryColour;
    text-align: center;

    & > div {
      padding: 0;
      margin: 10px 30px 10px 30px;
      &:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
      }

      @keyframes dots {
        0%, 20% {
          color: rgba(0,0,0,0);
          text-shadow:
                  .25em 0 0 rgba(0,0,0,0),
                  .5em 0 0 rgba(0,0,0,0);}
        40% {
          color: $secondaryColour;
          text-shadow:
                  .25em 0 0 rgba(0,0,0,0),
                  .5em 0 0 rgba(0,0,0,0);}
        60% {
          text-shadow:
                  .25em 0 0 $secondaryColour,
                  .5em 0 0 rgba(0,0,0,0);}
        80%, 100% {
          text-shadow:
                  .25em 0 0 $secondaryColour,
                  .5em 0 0 $secondaryColour;}}
    }
  }
}