.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--next {
    margin-bottom: 50px;
    padding: 0;
    background: $primaryColour;
    border-radius: 10px;
    color: $secondaryColour;
    width: 200px;
    text-align: center;
    & > h4 {
      padding: 0;
      margin: 10px 30px 10px 30px;
    }
  }
}