.page--menu2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  width: 100%;
  & > h1 {
    font-size: 28px;
    @include display-md {
      font-size: 36px;
    }
    color: #353535;
    margin: 80px 0 30px 0;
  }
}

.menu2 {
  font-family: "Frank Ruhl Libre";
  background: $menu2Bg;
  width: 80%;
  height: 100%;
  padding: 60px 0 60px 0;
  margin-bottom: 140px;
  color: $menu2Font1;

  & i {
  display: flex;
  align-items: center;
  justify-content: center;
}

  & h2 {
    font-family: 'Croissant One';
    @include fontBgGradient-2;
  }

  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &--body {
    width: 100%;
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      margin: 0 0 100px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 90%;
      @include display-md {
        width: 80%;
      }
      & > h3 {
        position: relative;
        cursor: pointer;
        margin: 0 20px 0 20px;
        width: 50%;
        text-align: center;
        @include display-md {
          width: 30%;
        }
      }

      & > img {
        width: 25%;
        @include display-md {
          width: 35%;
        }
      }

      &-1 {
        & > h3 {
          color: $menu2Font1;
          &:before {
            content: "";
            position: absolute;
            height: 3px;
            background: $menu2Font1;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width ease-in-out 250ms;
          }
          &:hover:before {
            width: 100%;
          }
        }
      }

      &-2 {
        & > h3 {
          color: #a56799;
          &:before {
            content: "";
            position: absolute;
            height: 3px;
            background: #a56799;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width ease-in-out 250ms;
          }
          &:hover:before {
            width: 100%;
          }
        }
      }

      &-3 {
        & > h3 {
          color: #6e4ccc;
          &:before {
            content: "";
            position: absolute;
            height: 3px;
            background: #6e4ccc;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width ease-in-out 250ms;
          }
          &:hover:before {
            width: 100%;
          }
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 80%;
      & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        @include display-md {
          flex-direction: row;
        }
        & > p {
          width: 100%;
          @include display-md {
            width: 80%;
          }
          @include display-lg {
            width: 80%;
          }
        }
        & > span {
          text-align: center;
          width: 100%;
          @include display-md {
            width: 20%;
          }
          @include display-lg {
            width: 20%;
          }
          font-weight: bolder;
        }
      }
      &-2 {
        color: #a56799;
      }
      &-3 {
        color: #6e4ccc;
        & > div {
          & > p {
            width: 100%;
          }
        }
      }
    }
  }

  &--footer {
    display: flex;
    justify-content: center;
    width: 100%;

    & > i {
      margin: 0 20px 0 0;
    }
  }
}