html body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

html body {
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
}
@media all and (min-width: 768px) and (max-width: 1216px) {
  html body {
    font-size: 3vw;
  }
}
@media all and (min-width: 1217px) {
  html body {
    font-size: 1.7vw;
  }
}

@font-face {
  font-family: "Segoe Print";
  src: url("/assets/fonts/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot");
  /* IE9*/
  src: url("/assets/fonts/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff2") format("woff2"), url("/assets/fonts/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff") format("woff"), url("/assets/fonts/c455d94eee43dc4ceeb83c0c0fd0d4c8.ttf") format("truetype"), url("/assets/fonts/c455d94eee43dc4ceeb83c0c0fd0d4c8.svg#Segoe Print V1") format("svg");
  /* iOS 4.1- */
}
.menu--1-txt > i {
  color: red;
}
.menu--1-txt > p {
  font-family: "Devonshire", cursive;
}
.menu--1-txt > h2 {
  font-family: "Segoe Print";
  text-transform: uppercase;
}

.menu--2-txt > p {
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(0deg, #c77412 10%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--2-txt > h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: bold;
}

.menu--3-txt > p {
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(10deg, #0431df 10%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--3-txt > h2 {
  font-family: "Segoe Print";
}

.menu--4-txt > p {
  font-family: "Kaushan Script", cursive;
  background: -webkit-linear-gradient(10deg, #72bf56 10%, #d9fdb8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--4-txt > h2 {
  font-family: "Segoe Print";
}

.header {
  width: 100%;
  height: 15%;
  background: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > h1 {
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 30px 0 30px 0;
}

.footer {
  width: 100%;
  background: #579c87;
  position: fixed;
  display: flex;
  align-items: center;
  color: #fdcb46;
  font-weight: bold;
  bottom: 0;
  height: 80px;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer--mentions {
  margin-left: 20px;
}
.footer--mentions:hover {
  animation: 1.4s shake infinite alternate;
  cursor: pointer;
}
.footer--contact {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.footer--contact:hover {
  animation: 1.4s shake infinite alternate;
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.main--menus {
  width: 100%;
  min-height: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}
@media all and (min-width: 1217px) {
  .main--menus {
    padding: 100px;
  }
}
.main--menus-single > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all ease-in-out 350ms;
}
.main--menus-single > div:hover {
  transform: scale(1.2);
  opacity: 0.6;
  transition: all ease-in-out 350ms;
  transform-origin: 50% 50%;
}
@media all and (min-width: 1217px) {
  .main--menus-single {
    width: 40%;
  }
}
.main--menus > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);
  margin: 0 30px 50px 30px;
  width: 70%;
  height: 700px;
  text-decoration: none;
  color: inherit;
}
@media all and (min-width: 1217px) {
  .main--menus > a {
    width: 40%;
    height: 800px;
    margin: 0 50px 50px 50px;
  }
}
@media all and (min-width: 768px) and (max-width: 1216px) {
  .main--menus > a {
    width: 45%;
    margin: 0 50px 50px 50px;
  }
}
.main--menus > a > p {
  font-size: 3vh;
}
@media all and (min-width: 1217px) {
  .main--menus > a > p {
    font-size: 3vh;
  }
}
.main--menus > a > h2 {
  font-size: 4vh;
}
.main--menus-1 {
  color: #3c1218 !important;
  background: #fcdfdb;
}
.main--menus-2 {
  color: #c77412 !important;
  background: #fff5fe;
}
.main--menus-3 {
  color: #0887fb !important;
  background: #f9f9f9;
}
.main--menus-4 {
  color: #72bf56 !important;
  background: #fdfffd;
}

.main {
  width: 100%;
  min-height: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main--next {
  margin-bottom: 120px;
  padding: 0;
  background: #579c87;
  border-radius: 10px;
  color: #fdcb46;
  text-align: center;
}
.main--next > div {
  padding: 0;
  margin: 10px 30px 10px 30px;
}
.main--next > div:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}
@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}

.menu1 {
  font-family: "Segoe Print";
  background: #fcdfdb;
  height: 100%;
  width: 100%;
  font-size: 1.7vw;
  color: #3c1218;
  padding: 100px 0 100px 0;
}
.menu1 i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu1 h1 {
  font-family: "Devonshire", cursive;
  font-size: 3vw;
}
.menu1--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.menu1--body {
  width: 100%;
  margin: 100px 0 100px 0;
}
.menu1--body-title {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu1--body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu1--body-content > div {
  width: 100%;
  display: flex;
}
.menu1--body-content > div > p {
  width: 80%;
  margin: 0 0 0 150px;
}
.menu1--body-content > div > span {
  width: 20%;
}
.menu1--footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu1--footer > i {
  margin: 0 20px 0 0;
}

/*# sourceMappingURL=style.css.map */
