.footer {
  width: 100%;
  background: $primaryColour;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $secondaryColour;
  font-weight: bold;
  bottom: 0;
  height: 80px;

  & a {
    text-decoration: none;
    color: inherit;
  }

  &--mentions {
    width: 100%;
    text-align: center;
    @include display-md {
      width: 40%;
      text-align: left;
    }
    @include display-lg {
      width: 40%;
      text-align: left;
    }
    &:hover {
      animation: 600ms shake infinite alternate;
      cursor: pointer;
    }
  }
  &--contact {
    width: 100%;
    text-align: center;

    @include display-md {
      width: 40%;
      text-align: right;
    }
    @include display-lg {
      width: 40%;
      text-align: right;
    }
    &:hover {
      animation: 600ms shake infinite both;
      cursor: pointer;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }

    20%, 80% {
      transform: translateX(3px);
    }

    30%, 50%, 70% {
      transform: translateX(-4px);
    }

    40%, 60% {
      transform: translateX(4px);
    }
  }

}