.footer {
  width: 100%;
  background: $primaryColour;
  position: fixed;
  display: flex;
  align-items: center;
  color: $secondaryColour;
  font-weight: bold;
  bottom: 0;
  height: 80px;

  & a {
    text-decoration: none;
    color: inherit;
  }
  &--mentions {
    margin-left: 20px;
    &:hover {
      animation: 1.4s shake infinite alternate;
      cursor: pointer;
    }
  }
  &--contact {
    position: absolute;
    right: 0;
    margin-right: 20px;
    &:hover {
      animation: 1.4s shake infinite alternate;
      cursor: pointer;
    }
  }

  @keyframes shake {
    0% { transform: translateX(-10px); }
    5% { transform: translateX(0); }
    10% { transform: translateX(10px); }
    15% { transform: translateX(-10px); }
    20% { transform: translateX(0); }
    100% { transform: translateX(10px); }
  }

}