.header {
  width: 100%;
  min-height: 15vh;
  background: $primaryColour;
  display: flex;
  justify-content: center;
  align-items: center;

  & > h1 {
    color: $secondaryColour;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

}