$primaryColour: #579c87;
$secondaryColour: #fdcb46;
$menu1Bg: #fcdfdb;
$menu1Font: #3c1218;
$menu2Bg: #fff5fe;
$menu2Font: #c77412;
$menu3Bg: #f9f9f9;
$menu3Font: #0887fb;
$menu4Bg: #fdfffd;
$menu4Font: #fdfffd;